@charset "UTF-8";
/* CSS Document */
.navbar-default{
	background-color: whitesmoke;
}

.navbar-header > .navbar-brand{
	color: darkgreen;
}

.navbar-header > .navbar-brand:hover{
	color: black;
}
.navbar-collapse > .navbar-nav > li > a{
	color: darkgreen;
}

.navbar-collapse > .navbar-nav > li > a:hover{
	color: black;
}
.navbar-collapse > .navbar-nav > .active > a , .navbar-collapse > .navbar-nav > .active > a:hover, .navbar-collapse > .navbar-nav > .active> a:focus{
	color:white
}

 .navbar-collapse > .navbar-nav > .active > a {
	background-color: darkgreen;
}

.navbar-collapse > .navbar-nav > .active > a:hover{
	color:white;
	background-color: darkolivegreen;
}

 .navbar-collapse > .navbar-nav > .active> a:focus{
	background-color: darkolivegreen;
}

.btn{
	background-color: darkgreen;
	color: white;
}

.btn:hover{
	background-color: darkolivegreen;
	color:white;
}
#form1{
	max-width: 500px;
}