@charset "UTF-8";
/* CSS Document */
.formEstilo {
	max-width: 50 px;
}
.divEstilo {
	border-radius: 20 px;
	width: 50 px;
	height: 100 px;
	background-color: white;
	
}

body{
	background-color: lightgrey;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#error{
	background-color: indianred;
	color: white;
	border: none;
}